.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 0 0.2rem 2rem 0.2rem;

    .col_1 {
        .h_text {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: -0.2rem;
        }

        .h_desc {
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 2.5rem;
        }

        .c1_btn-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .btn_1 {
                background: #fff;
                color: rgb(6, 6, 134);
                border: none;
                height: 2.4rem;
                width: 9rem;
                font-size: .8rem;
                border-radius: 20px;
                cursor: pointer;
                margin: 0 .5rem;
            }

            .btn_2 {
                background: transparent;
                color: #fff;
                height: 2.4rem;
                width: 9rem;
                font-size: .8rem;
                border: none;
                cursor: pointer;
                margin: 0 .5rem;
            }
        }
    }

    .col_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        .col_2-img {
            width: 300px;
            height: 350px;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero_section {
        flex-direction: row !important;
        justify-content: space-evenly !important;
        height: 100% !important;
        width: 90% !important;

        .col_1 {
            padding: 0 9rem;
            .h_text {
                text-align: left !important;
                font-size: 5rem;
            }

            .h_desc {
                text-align: left !important;
            }

            .c1_btn-section {
                width: 100%;
                flex-direction: row !important;
                justify-content: unset !important;
                align-items: unset !important;

                .btn_1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 12px 28px;
                }

            }
        }

        .col_2 {
            .col_2-img {
                width: 326.99px;
                height: 595.86px;
            }
        }
    }
}

