.about_cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about_header {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }

    .about_cols-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;

        .card {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 300px;
            padding: 0 1rem;
            box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
            margin-top: 1rem;
            border-radius: 10px;
            .d_box {
                .d_t {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .about_header {
        font-size: 2rem;
        font-weight: 700;
    }
    .about_cols-col {
        flex-direction: row !important;
        .card {
            width: 200px !important;
            height: 180px;
            margin: 0 1rem;
        }
    }
}