.featuresmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .col_1 {
        width: 90%;

        .col_1-img {
            width: 100%;
        }
    }

    .col_2 {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .card {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #000;
                box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
                margin: 3rem 0;
                height: 300px;
                width: 100%;
                border-radius: 20px;
                text-align: center;

                img {
                    height: 3rem;
                    width: 3rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .featuresmain {
        flex-direction: row !important;
        justify-content: space-around !important;
    }
    .col_2 {
        .card_box {
            justify-content: unset !important;
            align-items: unset !important;
            text-align: left !important;
            .card {
                justify-content: unset !important;
                align-items: unset !important;
                text-align: left;
                .details {
                    text-align: left !important;
                }
            }
        }
    }
}