.footer {
    color: #fff;
    .f_row {
        background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem 2rem 0;

        .col_1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .f_header {
                font-size: 1.8rem;
                font-weight: 700;
                padding: 0.5rem;
            }
        }
        .col_2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 130%;
                height: 300px;
                &:nth-child(2) {
                    margin-top: 3rem;
                }
            }
        }
    }
    .f_bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(36, 35, 35);
        

        .f_bar-text {
            margin-top: 4rem;
        }
        .socials {
            margin: 2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 25px;
                width: 25px;
                margin: 0 1rem;
                &:nth-child(4) {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        .f_row {
            flex-direction: row !important;
            justify-content: space-evenly !important;

            .col_1 {
                width: 30% !important;
                text-align: left !important;
                justify-content: unset !important;
                align-items: unset !important;

                .f_header {
                    font-size: 2.5rem;
                    font-weight: 700;
                }
                .f_desc {
                    font-weight: 550;
                    line-height: 1.5;
                }
            }
            .col_2 {
                width: 50% !important;
                flex-direction: row !important;
                // text-align: left !important;
                // justify-content: unset !important;
                // align-items: unset !important; 

                img {
                    width: 200px !important;
                    height: 100% !important;
                }
            }
        }
        .f_bar {
            flex-direction: row !important;
            justify-content: space-between !important;
            padding: 0 6rem;

            .socials {
                img {
                    height: 20px;
                    width: 20px;
                    margin: 0 0.5rem;
                }
            }
        }
    }
}